nav {
  background-color: rgb(0, 0, 0);
  color: blueviolet;
  position: relative;
  position: fixed;
  display: flex;
  column-gap: 20rem;
  row-gap: 20rem;
  justify-content: center;
  align-items: center;
}
nav a {
  margin: 2px;
  border-radius: 5px;
  background: rgb(86, 0, 167);
  color: #000000;
  display: block;
  padding: 10px;
  text-decoration: none;
}
body {
  border: 0%;
  text-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;

}

ul {
  list-style-type: none;
  list-style: none;
 }
h1,
h2,
h3,
h4,
h5,
h6,
footer {
  color: aliceblue;
  padding: 1px;
  background: black;
}
p {
  color: rgb(0, 0, 0);
}
image {
  width: fit-content;
}
.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border-color: aliceblue;
  border: 5px solid white;
  position: relative;
  left: 0;
  top: 40px;
}
header {
  background-image: url(/images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  margin: 0px;
  padding: 19px;
  border-radius: 8px;
}
h3 {
  color: aliceblue;
}
.article {
  background-color: gray;
  margin: 100px;
  padding: 20px;
  border: 5px solid rgb(174, 0, 255);
  border-radius: 8px;
}
#bottom {
  background-color: rgb(255, 255, 255);
}

#back-to-top {
  position: fixed;
  border-radius: 50%;
  overflow: none;
  right: 0cm;
  bottom: 80px;
  right: 80px;
  padding: 10px;
  background-color: rgb(86, 0, 167);
}

button {
  background-color: rgb(86, 0, 167);
  border-radius: 0px;
  border: 0;
}
/* Small devices (portrait tablets and large phones, 320px and up) */
@media only screen and (min-width: 320px) {
  body {
    text-align: left;
    align-items: left;
    font-size: small;
    width: fit-content;
  }
  p {
    text-align: left;
    align-items: left;
    width: fit-content;
  }
  #forms{
    align-items: flex-start;
    align-content: flex-start;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    text-align: left;
    align-items: left;
    font-size: medium;
    width: fit-content;
    margin: 0.5%;
  }
  p {
    width: fit-content;
    text-align: left;
    align-items: left;

  }
  header{
    background-size: cover;
    border-radius: 0%;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  body {
    text-align: center;
    align-items: center;
    font-size: large;
    width: fit-content;

  }
  p {
    width: fit-content;
    text-align: center;
    align-items: center;
  }
  footer {
    align-items: flex-start;
    align-content: flex-start;
  }
}
